@using RhythmiX.Web.Services
@using RhythmiX.Web.ViewModels

@model TrackViewModel

@{
    ViewData["Title"] = "History";
    ViewData["StyleLink"] = "liked.css";
    Layout = "_MainLayout";
}

<div class="content">
    <div class="table-header">
        <img src="~/images/history_logo.png" />
        <div>
            <h2>History</h2>
            @if (Model.TrackDtos.Any())
            {
                <p>@Model.TrackDtos.Count() songs</p>
            }
            else
            {
                <p>0 songs</p>
            }
        </div>
    </div>

    @if (Model.TrackDtos.Any())
    {
        <table>
            @foreach (var track in Model.TrackDtos)
            {
                <tr class="clickable-row" data-url="@Url.Action("History", "MusicPlayer", new { userId = Model.UserId, trackId = track.Id })">
                    <td><img src="@Url.Content($"{PathService.DownloadedTracksRazorPath}/{track.TrackName}/{track.Image}")"></td>
                    <td><p class="track-name">@track.TrackName</p></td>
                    <td><p class="track-artist">@track.ArtistName</p></td>
                    <td><p class="track-time">@track.Duration</p></td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="no-elems-div">
            <h2>There is nothing here yet</h2>
            <h2>Check out some songs in Explore tab</h2>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/trOnClick.js"></script>
}